body, html {
  min-width: 480px;
  height: 100%;
  background-color: #333333;
  padding-top: 25px;
  margin: 0;
}

main {
  background-color: #888888;
  color: #000000;
  border: none;
  padding: 0;
  margin: 0;
}

main > div {
  border: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #000000;  
  font-size: 20px;
}
.navbar-offset {
   top: 25px; /*Offsets the top navbar 37px from the top of the viewport*/
}

.navbar-header{
  height: 40px;
  margin: 0;
}

.navbar-brand {
  width: 190px;
  margin: 0;
}

.container-fluid.scrollable {
  height: 100%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
  margin: 0;
}

.nopad {
  padding: 0;
  margin:0;
}

.viewport{
  height: 100%;
  margin: 0;
}

.mysection {
  padding: 0 20% 0 20%;
}

.myimage {
  width: 50%;
  padding: 0;
}

.myhr {
  height:5px;
  border:none;
  color:#006400;
  background-color:#006400;  
}

#contact hr.star-envelope,
#contact hr.star-bright, 
hr.star-envelope,
hr.star-bright, 
hr.star-dark {
  margin:40px auto 30px;
  padding:0;
  max-width:512px;
  border:0;
  border-top:solid 5px;
  text-align:center;
}

hr.star-bright:after, 
hr.star-dark:after { 
  content:'\f121';
  font-family:FontAwesome;
  display:inline-block;
  position:relative;
  top:-.8em;padding:0 .25em;
  font-size:2em;
}

hr.star-envelope:after { 
  content:'\f003';
  font-family:FontAwesome;
  display:inline-block;
  position:relative;
  top:-.8em;padding:0 .25em;
  font-size:2em;
}

hr.star-envelope,
hr.star-bright {
  border-color:#fff;
}

hr.star-envelope:after,
hr.star-bright:after {
  color:#000;background-color:#aaa;
}

hr.star-dark {
  border-color:#888;
}


hr.star-dark:after { 
  color:#888;background-color:#eee;
}

h2 {
 text-transform: uppercase;
 text-align: center;
 font-weight: bold !important;
 letter-spacing: 3px;
}

@media (max-width:990px) {}
  .mysection {
    padding: 0 10% 0 10%;    
  }  

@media (max-width:768px) {}

@media (max-width:480px) {
  .mysection {
    padding: 0;    
  }  
    #contact-form input,
    #contact-form textarea {
      min-width : 100%;
      max-width : 100%;
    }
}

#home {
  border: solid #333333 1px;
  box-shadow: 5px 5px 5px grey;  
  background-color: #111111;   
  color: #ffffff;
  font-size: 22px;
  font-family: Verdana;
  padding: 30px;
}

#portifolio {
  border: solid #333333 1px;
  box-shadow: 5px 5px 5px grey;  
  background-color: #ffffff;
  color: #666666 ;
  padding: 30px;
}

#contact {
  border: solid #333333 1px;
  box-shadow: 5px 5px 5px grey;  
  background-color: #aaaaaa;
  color: #ffffff ;
  padding: 30px;
  font-family: calibri;
  font-size: 22px;
  color: #000000;
}

#contact a {
  color: #000; 
}

#contact a:visited 
  {
    text-decoration: none;
    color: #000;   
}

#contact a:focus, 
#contact a:link 
  {
    text-decoration: none;
    color: #000;   
}

#contact a:hover
  {
    text-decoration: none;
    color: navy;
}

#btn-linkedin a:hover
  {
    text-decoration: none;
    color: #0074b5 !important;
}

#btn-github a:hover
  {
    text-decoration: none;
    color: #000000 !important;
}

#btn-facebook a:hover
  {
    text-decoration: none;
    color: #3b5998 !important;
}

#contact-form {
  padding: 20px;
  margin: 20px auto;
}

#contact-form textarea {
    height: 200px;
}

#contact-form label {
    display: block;
}

#contact-form input {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #555;  
}

#contact-form input,
#contact-form textarea {
  min-width: 100%;  
  max-width: 100%;
  font-size: 1.15em !important;
  margin-bottom: 5px;
}
